.Recipes {
    background: rgb(238,174,202);
    background: linear-gradient(53deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: "DIN Alternate";
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.Selected {
    background-color: rgba(207,123,21, 0.3);
    color: deeppink;
}

.listItemTitle{
    color: #862d2d;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    text-shadow: 5px 1px 5px rgba(43,18,15,0.64);
}
.wholeField {
    position: relative;
}
.mainArticle {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: fit-content;
    margin: 15px 0 15px 0;
}
.recipeImage {
    display: inline-block;
    vertical-align: center;
    margin-right: 10px;
    height: 400px;
    width: 50%;
    text-align: center;
    overflow: hidden;
}
.recipeImage img {
    object-fit: contain;
    height: auto;
    width: 100%;
}
.listItemDescription {
    display: inline-block;
    vertical-align: center;
    margin-left: 10px;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    color: #4d2600;
    overflow: auto;
}
.wholeField button {
    position: absolute;
    right: 15px;
    top: 95px;
}
.searchField {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    height: fit-content;
}
.searchField input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 300px;
    height: 30px;
    border-radius: 3px;
    background-color: rgba(38, 115, 191, 0.1);
    border: 2px solid rgba(11, 53, 94, 0.5);
    padding-left: 5px;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
}
.searchField button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 120px;
    height: 36px;
    border-radius: 3px;
    background-color: #3f51b5;
    border: 2px solid rgba(11, 53, 94, 0.5);
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
}